@import "../../styles/_variables.scss";

.formContainer {
  background-color: $color-primary-bg;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .logo {
    color: $color-primary;
    font-weight: bold;
    font-size: 24px;
  }

  .title {
    color: $color-primary;
    font-size: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      padding: 15px;
      border: none;
      width: 250px;
      border-bottom: 1px solid $color-primary;
      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }

    button {
      background-color: $color-primary;
      color: white;
      padding: 10px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $color-primary;
      font-size: 12px;
      cursor: pointer;

      img {
        width: 32px;
      }
    }
  }
  p {
    color: $color-primary;
    font-size: 12px;
    margin-top: 10px;
  }
}
